@font-face {
  font-family: 'tt2020baseregular';
  src: url('tt2020base-regular-webfont.woff2') format('woff2'),
       url('tt2020base-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  column-gap: 0;
  background-color: whitesmoke;
  font-family: 'tt2020baseregular', Quicksand, sans-serif;
}

figure {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  display: block;
  margin: 12px 6px;
  color: black;
  text-decoration: none;
  background: white;
  font-size: 3.5vw;
}

a:first-child {
  margin-top: 0;
}

h1 {
  display: block;
  width: 100%;
  background: gainsboro;
}

@media (orientation: landscape) and (width <= 2000px) {
  body {
    columns: 3;
    padding: 4vh 3vw;
  }
}

@media (orientation: portrait) {
  body {
    columns: 2;
    padding: 3vh 6vw;
  }
}

@media (orientation: landscape) and (width > 2000px) {
  body {
    columns: 4;
    padding: 3vh 6vw;
  }
}
